@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 5s;
}

h1 {
  color: #2e7ebd;
  margin: 0 auto;
  font-weight: bold;
  width: max-content;
}

table {
  visibility: hidden;
  border-collapse: collapse;
  color: #118488;
  margin: 0 auto;
}

caption {
  font-weight: bold;
  background-color: #fd5c63;
  color: #fff;
  padding: 10px;
  margin: 20px 0;
}

td {
  width: 120px;
  height: 110px;
  text-align: center;
  font-size: 65px;
  cursor: pointer;

  &:first-child {
    border-right: 4px solid #118488;
  }

  &:last-child {
    border-left: 4px solid #118488;
  }
}

tr:first-child {
  border-bottom: 4px solid #118488;
}

tr:last-child {
  border-top: 4px solid #118488;
}

button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 15em;
  font-size: 80%;
  color: rgba(255,255,255, 0.9);
  text-shadow: #2e7ebd 0 1px 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  white-space: pre-line;
  padding: 0.7em 0;
  border: 1px solid;
  border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
  border-radius: 6px;
  outline: none;
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  box-shadow: inset rgba(255,255,255,0.5) 1px 1px;
  transition: 1s;

  &:first-line {
    font-size: 170%;
    font-weight: 700;
  }

  &:hover {
    color: rgb(255,255,255);
    background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
  }

  &:active {
    color: rgb(255,255,255);
    border-color: #2970a9;
    background-image: linear-gradient(#5796c8, #6aa2ce);
    box-shadow: none;
  }
}
